.input_searchbar{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    transition: width .35s ease-in-out;
}

.input_searchbar:focus{
    background-color: green;
    outline: none;
    width: 500px;
}