@import "~/src/scss/index.scss";

// Characters container
.characters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.character {
  width: 300px;
  height: 420px;
  margin: 10px;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  background-color: black;
}

// Character image
.character__image {
  height: 350px;
  width: 250px;
  position: absolute;
  margin: auto;
  border: 10px solid rgb(141, 18, 18);
  border-width: 10px;
  border-style: inset;
  //border-color: rgb(223, 12, 12);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  transition: transform 0.5s ease;

  &:hover {
    //filter: drop-shadow(0px 0px 10px red);
    //filter: brightness(150%);
    transform: scale(1.2);
    transform-origin: 50% 50%;
  }
}

// Character name
.character__name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.character__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.character__namee {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  //background: rgba(0, 0, 0, 0.6); //Original
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 26%,
    rgba(0, 0, 0, 0.8) 61%,
    rgba(0, 0, 0, 0.4) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  color: $text-light;
  box-sizing: border-box;
  padding: 25px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(-20px);
  //width: calc(100% - 3em);
}

.character__inner:hover .character__namee {
  opacity: 1;
  transform: translateY(0);
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}
